
views/news/create.php

views/news/index.php

views/news/success.php

views/news/view.php

views/pages/about.php

views/pages/home.php

views/templates/footer.php

views/templates/header.php

views/welcome_message.php

models/News_model.php

controllers/News.php

controllers/Pages.php

config/database.php
